@import "compass"
@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body{
	margin: 0;
	padding: 0;
    font-family: sans-serif;
    background: linear-gradient(135deg,  rgba(0,0,0,1) 0%,rgba(1,0,0,1) 4%,rgba(14,4,4,1) 12%,rgba(17,5,6,1) 13%,rgba(18,5,5,1) 14%,rgba(29,10,9,1) 20%,rgba(29,8,9,1) 21%,rgba(45,15,16,1) 32%,rgba(50,16,15,1) 35%,rgba(55,24,51,1) 59%,rgba(55,24,62,1) 68%,rgba(57,27,67,1) 71%,rgba(56,25,67,1) 72%,rgba(57,27,70,1) 73%,rgba(45,46,83,1) 84%,rgba(26,62,98,1) 95%,rgba(22,65,100,1) 98%,rgba(23,61,96,1) 98%,rgba(25,63,98,1) 98%,rgba(26,66,100,1) 100%,rgba(44,76,148,1) 100%) fixed; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.main_title {
	width: 25%;
	position: relative;
	top : 17px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 20%;
}

.contact-page {
	 position: absolute;
	 bottom: 0;
	 right:15px;
	 height:40px;
	 color: white;
}

.about-page {
	position: absolute;
	bottom: 0;
	right:97px;
	height:40px;
	color: white;
}

.description h1{
font-family: 'Corbel';
font-weight:normal;
font-size: 35px;
color: white;
margin-top: 50px;
text-align: center;
}

.description-2 h2{
font-family: "Corbel";
font-size: 28px;
color: white;
text-align: center;
font-weight:normal;
  line-height: 10px;
  margin: 15px 0;
}

.description-3 h3{
font-family: "Corbel";
font-size: 22px;
color: white;
text-align: center;
font-weight:normal;
}

.logoposition{
	position:absolute;
	top:15px;
	left:-35px;
}

/*Bloc login In*/
.login-box{
  width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-90%,-40%);
  color: white;
}

/*en tete "login"*/
.login-box h5{
  float: left;
  font-size: 20px;
  border-bottom: 4px solid #05476B;
  margin-bottom: 20px;
  padding: 7px 0px;
}

/*Ligne bleu formulaire*/
.textbox{
  width: 200%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #05476B;
}

/*Formulaire enlever les cadres*/
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #05476B;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px 0;
}

.boutonformulaire{
  width: 200%;
  background: #05476B;
  border: 2px solid #05476B;
  color: white;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 30px 0;
}

.fichierpaiement{
	width: 100%;
  background: #05476B ;
  border: 2px solid #05476B;
  color: white;
  padding: 5px;
  font-size: 15px;
  cursor: pointer;
	margin: 30px 0;
}


.rectanglevideo{
	   background: white;
		 border: 5px solid #05476B;
	   width: 500px;
	   height: 500px;
	   color: black;
		 transform: translate(25%,20%);
}

.titrevideo{
	text-align : center;
	font-family: sans-serif;
	margin: 30px 0;
	font-size : 40px;
}

.rectanglestat{
	   background: white;
		 border: 5px solid #05476B;
	   width: 500px;
	   height: 500px;
	   color: black;
		 transform: translate(180%,-80%);
}

.color {
	color: blue;
}

.separateur {
width: 50%;
height: 2px;
background-color: black;
position: relative;
top : -17px
}


.textboxpro{
  width: 50%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 20px 120px;
  border-bottom: 2px solid #05476B;
}

.textboxpro input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 12px;
  width: 80%;
  float: left;
  margin: 0 5px;
	color: black;
}

.fichierpro{
	width: 50%;
  background: #05476B ;
  border: 2px solid #05476B;
  color: white;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
	margin: 20px 120px;
}

.boutonpro{
  width: 30%;
  background: #05476B;
  border: 2px solid #05476B;
  color: white;
  padding: 5px;
  font-size: 12px;
  cursor: pointer;
  margin: 10px 160px;
}

.bienvenue{
		position:absolute;
		top:15px;
		right:180px;
	  color: white;
	  padding: 10px 0px;
	  font-size: 14px;
	  margin: 4px 2px;
}
